/* tw-storydata {
  display: hidden;
} */

/* #story {
  margin: 2rem;
  margin-left: calc(400px + 2rem);
} */

#brick-main {
  max-width: 60rem;
  padding-top: 1rem;
}

.fade-in {
  transition: opacity 0.5s;
}

#ui-bar {
  height: 100vh;
  border-right: 1px solid black;
}

#brick-viewport {
  padding: 0;

  & > .row {
    margin: 0;
  }
}
