#brick-viewport {
  display: flex;
  flex-direction: inline;

  > * {
    flex: 1;
  }
}

.brick-linkReplace,
.brick-active-passage {
  transition: opacity 0.4s;
}

.brick-transparent {
  opacity: 0;
}

#ui-bar {
  height: 100vh;
  height: 100dvh;
  border-right: 1px solid var(--bs-border-color);
  max-width: 24rem;
  overflow-block: scroll;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}

.brick-sidebar-btn {
  background: none;
  border: 1px solid var(--bs-border-color);
  padding-block: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
  &:hover:enabled {
    color: var(--bs-emphasis-color);
    background-color: var(--bs-secondary-bg);
  }
  &:disabled {
    color: var(--bs-secondary);
  }
}

#brick-history-controls {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;

  > * {
    flex-grow: 1;
  }
}

#story-title {
  text-align: center;
}

#brick-menu-core {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;

  button {
    width: 100%;
  }
}

#brick-main {
  max-width: 60rem;
  margin-inline: auto;
  /* padding-top: 1rem; */
}

.brick-passage {
  padding-top: 1rem;
}

.brick-passage:not(:last-child) {
  border-bottom: 1px solid currentColor;
  /* margin-bottom: 1rem; */
  padding-bottom: 1rem;
}

.brick-active-passage {
  margin-bottom: 5rem;
}

#brick-dialog {
  border-color: var(--bs-border-color);
  border-radius: 0.5rem;
  margin-top: 2rem;
  max-width: 90vw;
  max-width: 90svw;
  min-width: 30rem;
  overflow-x: scroll;
  &::backdrop {
    backdrop-filter: brightness(50%) blur(0.25rem);
  }
}

#brick-dialog.brick-saves table {
  border: 1px solid var(--bs-border-color);
  width: 100%;

  :is(th, td) {
    border: 1px solid var(--bs-border-color);
    padding: 0.25rem;
  }

  td:nth-child(3) {
    width: 100%;
  }

  td:last-child button:enabled {
    background-color: var(--bs-danger);

    &:hover {
      background-color: inherit;
      color: var(--bs-danger);
    }
  }
}

.brick-link {
  padding: 0;
  border: 0;
  background: none;
  text-decoration: underline var(--bs-link-color);
  color: var(--bs-link-color);

  &:hover:enabled {
    color: var(--bs-link-hover-color);
    text-decoration-color: var(--bs-link-hover-color);
  }

  &:disabled {
    color: var(--bs-secondary);
    cursor: not-allowed;
    text-decoration-color: var(--bs-secondary);
  }
}

.brick-text-secondary {
  color: var(--bs-secondary);
}

.brick-error {
  background-color: hsl(0 80 20);
  border-inline: 0.25rem solid red;
  line-height: 2;
  padding: 0.25rem;

  code {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    padding: 0.125rem;
  }
}
